<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: head" />
<body>
<div th:replace="fragments/header.html :: header ('')" style="background-color:white;"/>
<div th:replace="fragments/adminPageHeader.html :: adminPageHeader ('qnas')"/>

<div class="offset-4 col-4">
    <hr class="qna-top-hr">
    <div th:each="qna, stat: ${qnaDtoList}" class="qna">
        <div class="d-flex align-items-center" style="margin-left:20px; cursor: pointer;" th:onclick="toggleQnADetails([[${qna.id}]])" >
            <span th:text="${stat.index + 1}" style="margin-right: 30px;"></span>
            <div th:text="${qna.title}" style="width:360px; text-align:left;"/>
            <div th:if="${qna.answerStatus.name=='READY'}" style="margin-left:-80px;">답변대기</div>
            <div th:unless="${qna.answerStatus.name=='READY'}" style="margin-left:-80px;">답변완료</div>
        </div>
        <div th:id="${qna.id}" style="display: none; text-align:left;">
            <br/>
            <!-- 필요한 경우 리뷰 내용 등을 표시 -->
            <div th:text="${qna.content}" style="float:left; margin-left:80px;width:250px; font-size:0.7em" readonly/>
            <div th:if="${qna.answer}!=null" style="clear:both;">
                <br/>
                <div style="color:black; font-size:0.7em; float:left; margin-left:80px; width:30px;">답변: </div>
                <div th:text="${qna.answer}" style="color:black; font-size:0.7em" readonly/>
            </div>
            <br/>
        </div>
        <form class="form-group" th:object="${qnaAnswer}" th:method="post" th:action="|@{/qna/{itemId}/{qnaId}/answer (itemId=${qna.itemId},qnaId=${qna.id})}|">
            <div sec:authorize="hasAuthority('ADMIN')" th:if="${qna.answerStatus.name=='READY'}">
                <br/>
                <textarea rows="3" th:field="*{answer}" placeholder="답변을 입력해 주세요" style="width: 100%"/>
                <button class="btn post-btn" type="submit">답변 등록</button>
            </div>
        </form>
        <hr class="qna-hr"/>
    </div>
</div>

<ul id="paging-ul" class="pagination justify-content-center"></ul>


<script th:inline="javascript">
    window.onload = function () {
        let nowPage = [[${qnaDtoList.getNumber()}]] + 1;    // 현재 페이지
        let totalPage = [[${qnaDtoList.getTotalPages()}]];  // 전체 페이지 수

        let firstPage;  // 화면에 출력될 첫 페이지
        for (let i = nowPage ; i >= 1 ; i --) {
            if(i % 5 == 1) {
                firstPage = i;
                break;
            }
        }

        let lastPage;   // 화면에 출력될 마지막 페이지
        let nextButton; // 다음 버튼 출력 여부
        if (firstPage + 4 >= totalPage) {
            lastPage = totalPage;
            nextButton = false;
        } else {
            lastPage = firstPage + 4;
            nextButton = true;
        }

        // HTML 생성
        let pageHtml = "";
        pageHtml += "<li><a class='page-link' href='" + makeUrl(1) +  "'>&laquo;</a></li>";
        if (firstPage != 1) {
            pageHtml += "<li><a class='page-link' href='" + makeUrl(firstPage - 1) +  "'>&lsaquo;</a></li>";
        }

        for (let i = firstPage; i <= lastPage; i++) {
            if (i == nowPage) {
                pageHtml += "<li class='page-qna active'><a class= 'page-link'>" + i + "</a></li>";
            } else {
                pageHtml += "<li class='page-qna'><a class= 'page-link' href='" + makeUrl(i) + "'>" + i + "</a></li>";
            }
        }

        if (nextButton) {
            pageHtml += "<li><a class='page-link' href='" + makeUrl(lastPage + 1) +  "'>&rsaquo;</a></li>";
        }
        pageHtml += "<li><a class='page-link' href='" + makeUrl(totalPage) +  "'>&raquo;</a></li>";

        $("#paging-ul").html(pageHtml);
    }

    function makeUrl(page) {
        let url = "/admins/qnas/" + "?page=" + page;

        return url;
    }
    function toggleQnADetails(qnaId) {
        var qnaDetails = document.getElementById(qnaId);
        console.log(qnaId);
        if (qnaDetails.style.display === 'none') {
            qnaDetails.style.display = 'inline';
        } else {
            qnaDetails.style.display = 'none';
        }
    }

</script>
</body>
</html>