@font-face{
font-family:'DNFForgedBlade';font-style:normal;font-weight:500;
src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf')format('opentype')}

*{
    font-family: 'DNFForgedBlade', sans-serif;
    background-color: #D0BCA9;
    color: white;
}
body{
    text-align: center; /* 중앙 정렬을 위한 추가 스타일 */
    background-color: #D0BCA9;
}
.navbar-brand{

    font-size: 1.5em;
}
.user-form{
    padding: 10px;
    border-radius:10px;
    border: 3px solid white;
}
.user-form>div>input{
    width:300px;
    color:black;
}
.user-btn{
    border:2px solid white;
    background-color:white;
}

.wish-btn{
    color:#5F4E3A;
    border:2px solid white;
    background-color:white;
}
.order-btn{
    margin-left:-370px;
    color:#5F4E3A;
    border:2px solid white;
    background-color:white;
}
.order-btn1{
    margin-left:-510px;
    color:#5F4E3A;
    border:2px solid white;
    background-color:white;
}
.wish-btn1{
    margin-left:-243px;
    color:#5F4E3A;
    border:2px solid white;
    background-color:white;
}
.cart-btn1{
    margin-left:-383px;
    color:#5F4E3A;
    border:2px solid white;
    background-color:white;
}
.cart-btn{
    color:#5F4E3A;
    border:2px solid white;
    background-color:white;
}
.wish-btn-check{
    margin-left:-243px;
    color:#5F4E3A;
    border:2px solid #BB9B7C;
    background-color:#BB9B7C;
}
.wish-btn:hover{
    border:2px solid black;
    background-color: black;
}
.item-form{
    padding: 10px;
    border-radius:10px;
    border: 3px solid white;
}
.item-form>div>input{
    width:300px;
    color:black;
}
.item-form>div>textarea{
    border: 2px solid black;
}
.item-btn{
    border:2px solid white;
    background-color:white;
}
.nav-btn{
    color:white;
}
.nav-link.active {
}
.rectangle-box {
    width: 1200px;
    height: 550px;
    background-color: #BB9B7C;
    border: 2px solid #BB9B7C;
    border-radius: 10px;
    padding: 10px; /* 박스 내부 여백 설정 */
    display: inline-block;
}
#paging-ul {
    bottom: 0;
}
.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.item {
    margin: 10px; /* 아이템 간 간격 조절 */
    cursor: pointer;
}
#main-image{
    float:left;
    margin-left:400px;
}
#item-tip{
    clear:both;
    margin:20px;
}
.detail-nav-bar{
    margin-left:30px;
}
.detail-a{
    color:#5F4E3A;
    margin-right:50px;
    cursor:pointer;
}
#review-join-button{
    background-color: #5F4E3A;
    border: none;
    color: white;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
.review-top-hr{
    border:0;
    height:3px;
    background: black;
}
.qna-top-hr{
    border:0;
    height:3px;
    background: black;
}
.cart-top-hr{
    border:0;
    height:3px;
    background: black;
}
.review-hr{
    border:0;
    height:3px;
    background: black;
}
.cart-hr{
    border:0;
    height:3px;
    background: black;
}
.qna-hr{
    border:0;
    height:3px;
    background: black;
}
.container-write{
    vertical-align:top;
}
tr{
    border: 1px solid white;
}
#review-img-none{
    width: 30px; height: 30px; border: 1px solid white; float:left; margin-left:50px;
}
#review-img{
    border-color: white; border-style: solid; border-width: thin; float:left; margin-left:200px;
    width:30px; height:30px;
}
#star-div fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#star-div fieldset legend{
     text-align: right;
 }
#star-div input[type=radio]{
    display: none;
}
#star-div label{
    order:1;
    font-size: 1em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#star-div label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#star-div label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#star-div input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.order-id-col{
    border-right: 1px solid #ddd;
    padding:0px;
}
#order-cancel{
    cursor: pointer;
    color:red;
}
#order-id{
    cursor: pointer;
}
.bordered-image {
        border: 5px solid #DBC0AF; /* 테두리 두께와 색상 설정 */
        border-radius: 3px; /* 테두리의 모서리를 둥글게 만듭니다. */
    }